@mixin capture-ecran {
  width: 100%;
  height: 172px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin titles {
  font-family: $cookie;
  font-size: $xxlarge;
  color: $titles;
  font-weight: normal;
}

@mixin port-titles {
  font-family: $cookie;
  font-size: $medium;
  color: $white;
  font-weight: normal;
  text-align: center;
}
