@mixin capture-ecran {
  width: 427px;
  height: 265px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin titles {
  font-family: $cookie;
  font-size: $xlarge;
  color: $titles;
}
