/* TAILLE DES TEXTES */

$small: 15px;
$medium: 20px;
$large: 25px;
$xlarge: 30px;
$xxlarge: 35px;
$xxxlarge: 40px;

/* COULEURS */

$white: #ffffff;
$black: #000000;
$bluesky: #7ad9ff;
$azurblue: #1599b0;
$titles: #006483;
$texthome: #515151;
$backgroundpage: #dee9eb;

/* Taille des images */
