/* PORTFOLIO */
@media all and (max-width: 544px) {
  #portfolio {
    @include flex-column;
    gap: 15px;

    h2 {
      @include titles;
      text-align: center;
    }

    .elements {
      @include flex-column;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      width: 50%;
      align-self: center;
    }

    a {
      color: $white;
    }

    .redirections {
      display: flex;
      text-decoration: none;
      color: $white;
      flex-basis: 30%;
    }

    .preview {
      border-radius: 20px;
      position: relative;
      width: 100%;
      object-fit: contain;
      overflow: hidden;
      box-shadow: #00000063 1px 1px 5px;
      margin: 3%;
      display: flex;
      flex-direction: column;
    }

    .siteweb {
      background-color: $azurblue;

      img {
        @include capture-ecran;
      }
    }

    .pres-siteweb {
      background-color: $azurblue;
      width: 100%;
      height: 115px;

      h3 {
        @include port-titles;
      }

      p {
        text-align: center;
        font-size: $small;
        color: $white;
        font-family: $barlow;
      }
    }

    .pres-siteweb:hover {
      background-color: $bluesky;
      cursor: pointer;
    }
  }
}

@media all and (min-width: 545px) and (max-width:768px) {
  #portfolio {
    @include flex-column;
    gap: 15px;

    h2 {
      @include titles;
      text-align: center;
    }

    .elements {
      @include flex-column;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      width: 50%;
      align-self: center;
    }

    a {
      color: $white;
    }

    .redirections {
      display: flex;
      text-decoration: none;
      color: $white;
      flex-basis: 30%;
    }

    .preview {
      border-radius: 20px;
      position: relative;
      width: 100%;
      object-fit: contain;
      overflow: hidden;
      box-shadow: #00000063 1px 1px 5px;
      margin: 3%;
      display: flex;
      flex-direction: column;
    }

    .siteweb {
      background-color: $azurblue;

      img {
        @include capture-ecran;
      }
    }

    .pres-siteweb {
      background-color: $azurblue;
      width: 100%;
      height: 115px;

      h3 {
        @include port-titles;
      }

      p {
        text-align: center;
        font-size: $small;
        color: $white;
        font-family: $barlow;
      }
    }

    .pres-siteweb:hover {
      background-color: $bluesky;
      cursor: pointer;
    }
  }
}

@media all and (min-width: 769px) {
  #portfolio {
    h2 {
      @include titles;
      text-align: center;
    }

    .elements {
      @include flex-row;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 30px;
      width: 100%;
    }

    a {
      color: $white;
    }

    .redirections {
      display: flex;
      text-decoration: none;
      color: $white;
      flex-basis: 30%;
    }

    .preview {
      border-radius: 20px;
      position: relative;
      width: 100%;
      object-fit: contain;
      overflow: hidden;
      box-shadow: #00000063 1px 1px 5px;
      margin: 3%;
      display: flex;
      flex-direction: column;
    }

    .siteweb {
      background-color: $azurblue;

      img {
        @include capture-ecran;
      }
    }

    .pres-siteweb {
      background-color: $azurblue;
      width: 100%;
      height: 115px;

      h3 {
        @include port-titles;
      }

      p {
        text-align: center;
        font-size: $small;
        color: $white;
        font-family: $barlow;
      }
    }

    .pres-siteweb:hover {
      background-color: $bluesky;
      cursor: pointer;
    }
  }
}