body {
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
}

/* En-tête de la page */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1599b0;
  height: 260px;
  width: 100%;
  font-family: "cookie", serif;
  font-size: 35px;
  color: #fff;

  #logo {
    img {
      width: 100%;
      height: 100px;
    }
  }

  #titre {
    h1 {
      font-weight: normal;
    }
  }

  nav {
    a {
      color: $white;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
  }
}

@media all and (min-width: 769px) {
  header {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    background-color: $azurblue;
    height: 95px;
    width: 100%;
    padding: 15px;
    font-family: $cookie;
    font-size: $xxlarge;
    color: $white;

    nav {

      a:hover {
        color: $white;
        border-top: 3px solid $white;
        padding-top: 25px;
      }
    }
  }
}